h2 {
  font-size: 40px;
  margin-left: 27px;
}

h3 {
  font-size: 20px;
}

.infoSwimsuits {
  background: url('../static/background.png');
}

.sortButtons {
  padding: 13px 0px;
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
  display: flex;
  justify-content: space-between;
  padding: 0 26px;
}