.button__sort {
  border: 0;
  cursor: pointer;
  font-size: 20px;
  outline: 0;
  text-transform: unset;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-left: 80px;
  }
}

.button__img {
  background-repeat: no-repeat;
}