.header__background { 
  background: url('../../static/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
}

.header__title {
  font-size: 50px;
  text-transform: uppercase;
  text-align: right;
  color: white;
  font-weight: normal;

  @media screen and (min-width: 768px) {
  }
}

.header__text {
  width: 64%;
  position: absolute;
  right: 19px;
}

.header__title-size {
  font-size: 70px;
}

.header__arrow {
  margin-top: 89px;
  margin-left: 20px;
  width: 22%;
}