.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 10px;
  margin: 0 15px;

  @media screen and (min-width: 768px) {
    padding-top: 27px;
  }

  @media screen and (min-width: 1440px) {
    margin: 0 50px;
  }
}

.nav__logo {
  width: 70%;

  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 1440px) {
    width: 160%;
  }
}

a {
  cursor: pointer;
  color: white;
  list-style: none;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 50px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 60px;
  }
}


.checkout__num {
  background: orange;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  position: absolute;
  right: 25px;
  top: 33px;
  text-align: center;

  @media screen and (min-width: 768px) {
    height: 30px;
    width: 30px;
    right: 32px;
    top: 58px;
  }

  @media screen and (min-width: 1440px) {
    right: 74px;
    top: 92px;
  }
}

.nav__bag {
  width: 15%;

  @media screen and (min-width: 768px) {
    width: 9%;
  }

  @media screen and (min-width: 1440px) {
    width: 6%;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.nav__contact {
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;
  }
}