.cake {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 22px;
  background: white;
}

.cake__img {
  width: 80%
}



.cake__modal {
  border: 0;
  background: transparent;
  margin: 0;
  padding: 0;
}